body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

@media (max-width: 600px) {
    .content {
        max-width: 80%;
    }
}

.responsive-image {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain the aspect ratio */
}

.figure-description {
    text-align: center;
}

.section-divider {
    width: 80%;
    margin: 0 auto;
    border: 0.5px solid #ccc; /* Border line style and color */
    margin-top: 5px;
    margin-bottom: 20px; /* Add margin to separate sections */
}

.centered-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: row; /* Places the small divs side by side */
    justify-content: center; /* Centers the small divs horizontally */
    align-items: center; /* Centers the small divs vertically */
    padding: 20px;
    max-width: 60%;
}

.small-div-text {
    flex: 1.5; /* Each small div takes up equal space */
    margin: 10px; /* Add spacing between the small divs */
    padding: 10px;
    text-align: left;
}

.small-div-image {
    flex: 0.5;
    min-height: 70%;
}

.below-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    padding-top: 50px;
    text-align: center;
}

.image-description {
    color: gray;
    font-size: x-small;
}

.trigger-ring:hover {
    background-color:powderblue; /* Example pastel color 1 */
}

.trigger-berkeley:hover {
    background-color:navajowhite; /* Example pastel color 2 */
}

.trigger-robotics:hover {
    background-color:pink; /* Example pastel color 3 */
}

.trigger-twitch:hover {
    background-color:plum;
}
/* Define styles for all links */
a {
    color: #0078d4; /* Text color for links */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Define styles for link hover state */
a:hover {
    color: #004e8c; /* Text color for links on hover */
    text-decoration: underline; /* Add underline on hover if desired */
}